#header{
    width: 100%;
    text-align: center;
    background-color:cadetblue;
}

/* The main section will contain the content and navBox sections */
#main{
    width: 100%;
}

#navBox{
    width: 20%;
    margin-left: 15px;
    float: left;
    margin-top: 15px;
    border-radius: 25px;
}

#content{
    width: 70%;
    float: right;
    margin-top: 15px;
    padding: 10px;
    border: grey 10px solid;
    border-radius: 25px;
}

#footer{

}

ul.noDecor{
    list-style-type: none;
}